@import "../../styles/variables.scss";

.subscribtion {
  max-width: 100%;
  height: 100%;
  background-color: $netflix__black;
  background-size: cover;
  position: relative;

  .top {
    .wrapper {
      padding: 20px 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        height: 40px;
        cursor: pointer;
      }

      .logout__button {
        width: 15%;
        height: 40px;
        background-color: $netflix__red;
        color: $netflix__white;
        border: none;
        font-size: 17px;
        cursor: pointer;
        align-items: center;
        border-radius: 5px;
      }
    }
  }

  .container{
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $netflix__white;

    .profile__pic {
      width: 60px;
      height: 60px;
      border-radius: 5px;
      object-fit: cover;
      cursor: pointer;
    }


    .informations {
      position: relative;
      top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: $netflix__white;

      h1 {
        font-size: 50px;
      }

      h2 {
        margin: 20px;
      }

      p {
        font-size: 20px;
      }  
    }

    .button{
      width: 50%;
      height: 50px;
      background-color: $netflix__red;
      color: $netflix__white;
      border: none;
      font-size: 22px;
      cursor: pointer;
      align-items: center;
      margin-top: 50px;
      border-radius: 5px;
    }
   
  }
  .edit__container{
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $netflix__white;

    .profile__pic {
      width: 60px;
      height: 60px;
      border-radius: 5px;
      object-fit: cover;
      cursor: pointer;
    }


    .form {
      position: relative;
      top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: $netflix__white;
      .addProductItem {
        width: 400px;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        margin-right: 10px;
        
        label {
          color: $netflix__gray;
          font-weight: 600;
          margin-bottom: 10px;
        }
    
        input {
          padding: 10px;
          background-color: $netflix__gray;
        }
    
        select {
          padding: 10px;
          background-color: $netflix__gray;
        }
      } 
      .subscribtion__button {
        cursor: pointer;
        background-color: $netflix__black;
        border: 1px solid $netflix__white;
        color: $netflix__gray;
        padding: 5px;
        &:hover{
          color:$netflix__white;
        }
      }    
    }

    .button{
      width: 50%;
      height: 50px;
      background-color: $netflix__red;
      color: $netflix__white;
      border: none;
      font-size: 22px;
      cursor: pointer;
      align-items: center;
      margin-top: 50px;
      border-radius: 5px;
    }
   
  }


 

 
}
