@import "../../../../styles/variables.scss";

.container{
  display: flex;
  margin-top: 10px;
  .user {
    flex: 4;
    padding: 20px;

    .title__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .title {
        color: $netflix__white;
      }

      .add__button {
        width: 80px;
        border: none;
        padding: 5px;
        background-color: $netflix__gray;
        color: $netflix__white;
        border-radius: 5px;
        cursor: pointer;
        color: $netflix__white;
        font-size: 16px;
      }
    }


    .user__container {
      display: flex;
      margin-top: 20px;
    
      .user__show {
        flex: 1;
        padding: 20px;
        -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
        .user__show__top {
          display: flex;
          align-items: center;
        }
    
        .user__show__img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
    
        .user__show__top__title {
          display: flex;
          flex-direction: column;
          margin-left: 20px;
          color: $netflix__white;
          .user__show__username {
            font-weight: 600;
          }
      
          .user__show__user__title {
            font-weight: 300;
          }
        }
    
      
    
        .user__show__bottom{
            margin-top: 20px;
        }
    
        .user__show__title {
          font-size: 14px;
          font-weight: 600;
          color: $netflix__gray;
        }
    
        .user__show__info{
            display: flex;
            align-items: center;
            margin: 20px 0px;
            .user__show__icon{
              font-size: 16px !important;
              color: $netflix__red;
            }
        }
        .user__show__info__title{
          margin-left: 10px;
        }    
      }

      .user__update {
        flex: 2;
        padding: 20px;
        -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
        margin-left: 20px;
        .user__update__title{
          font-size: 24px;
          font-weight: 600;
          color: $netflix__white;
        }

        .user__update__form{
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }

        .user__update__item{
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            color: $netflix__gray;

            label{
              margin-bottom: 5px;
              font-size: 14px;
            }
        }

        

        .user__update__input{
            border: none;
            width: 250px;
            height: 30px;
            background-color: $netflix__gray;
            border-bottom: 1px solid $netflix__gray;
            color: $netflix__white;
            &::placeholder {
              color: $netflix__white;
            }
        }

        .user__update__right{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .user__update__upload{
            display: flex;
            align-items: center;
        }

        .user__update__img{
            width: 100px;
            height: 100px;
            border-radius: 10px;
            object-fit: cover;
            margin-right: 20px;
        }

        .user__update__icon{
            cursor: pointer;
        }

        .user__update__button{
            border-radius: 5px;
            border: none;
            padding: 5px;
            cursor: pointer;
            background-color: $netflix__gray;
            color: $netflix__white;
            font-weight: 600;
        }
      }
    }
  }
}